# Java complie files
*.class
*.uml
.classpath
.myeclipse
.project
.reverse.properties
.settings
debug_log
doc/allclasses-frame.html
doc/allclasses-noframe.html
doc/constant-values.html
doc/deprecated-list.html
doc/edu/
doc/help-doc.html
doc/index-files/
doc/index.html
doc/overview-tree.html
doc/package-list
logs
src/main/java/edu/frank/headfirst/facade/facade.umldi
src/main/java/edu/frank/headfirst/observer/observer.umldi
src/main/java/edu/frank/headfirst/singleton/singleton.umldi
src/main/java/edu/frank/headfirst/strategy/strategy.umldi
src/main/java/edu/frank/headfirst/templatemethod/templatemethod0.umldi
src/main/java/edu/frank/sorted/BubbleSortApplet.html
src/main/java/edu/frank/swing/framework/JBasicSource/JBasic.form
src/main/java/edu/frank/swing/framework/JBasicSource/JClassBase.form
src/main/java/edu/frank/swing/framework/JBasicSource/JGetXML.form
src/main/java/edu/frank/swing/framework/JBasicSource/JJavaMail.form
src/main/java/edu/frank/swing/framework/JBasicSource/JJump.form
src/main/java/edu/frank/swing/framework/JBasicSource/JLocale.form
src/main/java/edu/frank/swing/framework/JBasicSource/JOperator.form
src/main/java/edu/frank/swing/framework/JGUISource/JGui.form
src/main/java/edu/frank/swing/framework/JGUISource/JNeOrderTableUI.form
src/main/java/edu/frank/swing/framework/JGUISource/JProgressBarUI1.form
src/main/java/edu/frank/swing/framework/JGUISource/MouseEventUI.form
src/main/java/edu/frank/swing/framework/JGUISource/PowerSwingApp.form
src/main/java/edu/frank/swing/framework/JSwingMain.form
target
